.playersDataContainer {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: var(--round);
  flex: 1 0 200px;
}

.playersTable {
  display: grid;
  grid-template-columns: 80px 80px 40px 40px 1fr;
}

.row {
  display: contents;
}

.header {
  font-size: 11px;
  color: #999;
  line-height: 1.2em;
}

.header span {
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
}