.date {
  font-size: 11px;  
  color: #999;
  border: 1px solid var(--vp);
  display: inline-block;
  padding: 1px 1px 1px;
  line-height: normal;
  font-weight: bold;
  width: 65px;
  text-align: center;
  border-radius: 20px;
  color: rgb(63, 46, 5);
  letter-spacing: 0.3px;
}

.date:hover:not(.disabled) {
  background-color: var(--highlight);
  cursor: pointer;
}

.disabled {
  border-color: var(--gray3);
  color: var(--gray2);
}