.tableContainer {
  display: grid;
  gap: 0;
  width: 100%;
}

.row {
  display: contents;
}

.tableHeader {
  font-size: 11px;
  color: #999;
  line-height: 1.2em;
  border-bottom: 1px solid #ddd;
  padding: 3px 5px 3px 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.tableHeader span {
  display: flex;
  align-items: flex-end;
}

.sortArrow {
  margin-left: 5px;
  font-size: 10px;
}

.tableCell {
  border-bottom: 1px solid #ddd;
  padding: 3px 5px 3px 1px;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .tableContainer {
    grid-template-columns: 1fr;
  }
}
