:root {
  --vp: goldenrod;
  --tr: rgb(209, 73, 0);
  --mc: rgb(231, 188, 0);
  --greenery: rgb(18, 176, 18);
  --black: #000;
  --white: #fff;

  --gray0: #f8f9fa;
  --gray1: #e9ecef;
  --gray2: #dee2e6;
  --gray3: #ced4da;
  --gray4: #adb5bd;
  --gray5: #868e96;
  --gray6: #495057;
  --gray7: #343a40;
  --gray8: #212529;

  --highlight: gold;
  --row-highlight: rgb(255, 250, 224);
  --highlight-dark: rgb(244, 232, 185);

  --round: 6px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: var(--white);
  line-height: 1.5em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5em;
}

h2 {
  line-height: 1.3em;
  margin-top: 0;
}

strong {
  font-weight: bold;
}

.dem {
  font-weight: normal;
  color: var(--gray4);
}

.highlightedRow {
  background-color: var(--row-highlight);
  animation: pulsing 0.4s infinite;
}

.gameRow {
  padding: 30px 40px;
}

.shifted {
  transform: translateY(-100px);
  display: inline-block;
}

@keyframes pulsing {
  0% {
    background-color: var(--row-highlight);
  }
  50% {
    background-color: var(--highlight-dark);
  }
  100% {
    background-color: var(--row-highlight);
  }
}