.loading {
  padding: var(--global-padding);
}

.mainPageGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1.4fr 1.3fr 1fr;
  grid-template-rows: auto min-content min-content min-content 1fr auto;
  gap: 1px;
  background-color: #c6b9b9; 
  grid-template-areas:
    "title title title"
    "players corporations notableCollections"
    "gameRecords corporations notableCollections"
    "numberOfCorps corporations notableCollections"
    "awardStats corporations notableCollections"
    "loggedGames loggedGames loggedGames";
}

.mainPageGrid > div {
  background-color: white;
  padding: 25px;
}

.mainPageGrid .title {
  padding: 25px 25px;
  grid-area: title;
}

.mainPageGrid .title h2 {
  padding: 30px 30px 0;
}

.players {
  grid-area: players;
  min-width: 0;
}

.numberOfCorporations {
  grid-area: numberOfCorps;
}

.gameRecords {
  grid-area: gameRecords;
}

.awardStats {
  grid-area: awardStats;
}

.corporations {
  grid-area: corporations;
  min-width: 0;
}

.notableCollections {
  grid-area: notableCollections;
  min-width: 0;
}

.mainPageGrid .allLoggedGames {
  grid-area: loggedGames;
  padding: 0;
}

.h2WithPadding {
  padding: var(--global-padding) var(--global-padding) 0;
}

@media (max-width: 900px) {
  .mainPageGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
      "title title"
      "players corporations"
      "gameRecords notableCollections"
      "awardStats numberOfCorps"
      "loggedGames loggedGames";
  }
}


@media (max-width: 600px) {
  .mainPageGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "players"
      "corporations"
      "notableCollections"
      "gameRecords"
      "numberOfCorps"
      "awardStats"
      "loggedGames";
  }
}
