
.allDataContainer {}

.playerRow {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.player {
  width: 170px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 10px 15px;
  border-radius: 8px;
}

.playerCorporation {
  font-size: 12px;
  line-height: 1.4em;
}

.playerScore {
  font-weight: bold;
  font-size: 24px;
  margin-top: 5px;
}

.dateOfGame {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 1.1em;
  color: teal;
}

.highlight {
  color: teal;
}

.subtle {
  opacity: 0.5
}

.details {
  font-size: 12px;
  line-height: normal;
  background-color: #eee;
  border-radius: 3px;
  padding: 2px 5px;
  margin: 0 0 5px 0;
  display: inline-block;
}

.winPercentage {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 15px;
}

.generations {
  background-color: teal;
  color: white;
  display: inline-block;
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  line-height: normal;
  opacity: 0.5;
}

.generations:hover {
  opacity: 1;
}

.victoryPoints:before {
  content: "VP";
  width: 16px;
  font-size: 8px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--vp);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 5px;
}

.terraformingRating:before {
  content: "TR";
  width: 19px;
  font-size: 8px;
  height: 13px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tr);
  color: white;
  border-radius: 2px;
  font-weight: bold;
  margin-right: 5px;
}

.megaCredits:before {
  content: "$";
  width: 14px;
  font-size: 10px;
  height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mc);
  color: white;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 5px;
}

.victoryPoints, .terraformingRating, .megaCredits {
  display: inline-flex;
  align-items: center;
  margin-right: 2px;
  font-size: 12px;
}

.mostActions:after, .shortestTime:after, .fastestWin:after, .highestVp:after, .highestTr:after {
  content: "➡️ Most Actions!";
  color: orange;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  display: block;
  width: 100%;
}

.shortestTime:after {
  content: "⏱️ Shortest Time!";
  color: hotpink;
}

.fastestWin:after {
  content: "⏱️ Fastest Win!";
  color: purple;
}

.highestVp:after {
  content: "Highest VP!";
  color: var(--vp);
}

.highestTr:after {
  content: "Highest TR!";
  color: var(--tr);
}

.mostActions, .shortestTime, .fastestWin, .highestVp, .highestTr {
  position: relative;
  line-height: normal;
  border: 2px solid orange;
}

.shortestTime {
  border-color: hotpink;
}

.fastestWin {
  border-color: purple;
}

.highestVp {
  border-color: var(--vp);
}

.highestTr {
  border-color: var(--tr);
}

.vpCard {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.4em;
  color: black;
  padding: 3px 7px;
  background-color: rgb(244, 234, 216);
  border-radius: 5px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.notableCollections {
  margin-top: 6px;
  margin-bottom: 5px;
}

.vpCardName {
  text-align: left;
  justify-self: flex-start;
}

.vpCard .victoryPoints {
  font-weight: bold;
  font-size: 14px;
}