.allDataContainer {}

.playerRow {
  display: flex;
  margin-top: 10px;
}

.player {
  width: 140px;
}

.playerCorporation {
  font-size: 12px;
  line-height: 1.3em;
}

.playerScore {
  font-weight: bold;
}

.dateOfGame {
  border-top: 1px solid teal;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 1.1em;
  color: teal;
}