

.playerRow {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.dateOfGame {
  font-size: 12px;
  line-height: 1.1em;
  color: teal;
}

.generations {
  background-color: var(--white);
  color: teal;
  display: inline-block;
  margin-left: 5px;
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid teal;
  line-height: normal;
}

.generations:hover {
  opacity: 1;
}

.gameLink {
  font-size: 12px;
  line-height: 1.1em;
  color: teal;
  margin-left: 5px;
  padding: 2px 6px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: teal;
}

.gameLink:hover {
  opacity: 0.8;
}

