.notableCollectionsTable {
  display: grid;
  grid-template-columns: minmax(100px, 200px) max-content max-content max-content;
}

.row {
  display: contents;
}

.header {
  font-size: 11px;
  color: #999;
  line-height: 1.2em;
}

.header .record {
  font-weight: normal;
}

.collectionName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 140px;
}

.row > div {
  border-bottom: 1px solid #ddd;
  padding: 3px 10px 3px 1px;
}


.record {
  font-weight: bold;
}

.holders {
  white-space: nowrap;
}

.header {
  font-size: 11px;
  color: #999;
  line-height: 1.2em;
}

.header span {
  display: flex;
  align-items: flex-end;
}